  body{
        font-family: 'Lato', sans-serif;
    }

      #posts{
        margin-top:190px;
        }

         #brand{
        margin-top:120px;
      
        }

        .li{
          display:inline-block;
          list-style-type: lower-roman;
        }
     #brandy{
        font-style:italic;
        }     